<div class="form-input">
	<label for="{{ name }}" class="label">{{ localize label }}</label>
	<input
		type="{{#if type}}{{ type }}{{else}}text{{/if}}"
		value="{{ value }}"
		name="{{ name }}"
		id="{{ name }}"
		{{#if placeholder}}placeholder="{{ localize placeholder }}"{{/if}}
	/>
</div>
