<div class="multi-select-input">
	<div class="select-input form-input">
		<label class="label" for="{{ name }}">{{ localize label }}</label>
		<select id="{{ name }}">
			{{#each options}}
				<option value="{{ . }}">{{ . }}</option>
			{{/each}}
		</select>
		{{> systems/aegean/templates/partials/action.hbs action="add-multi-select" id=name icon="fa-plus" disabled=(gte selection.length limit)}}
	</div>
	<ul class="multi-input-editable-display">
		{{#each selection as |item key|}}
			<li>
				{{ item.text }}
				<label class="action-bar-label mr-2">{{ localize "aegean.system.Rank" }}
					<input
						type="number"
						name="{{ ../name }}_{{ @index }}"
						value="{{ item.value }}"
						class="editable-input bordered-input"
						data-id="{{ item.text }}"
					/>
				</label>
				{{> systems/aegean/templates/partials/action.hbs action="delete-multi-select" id=(concat ../name "_" @index) icon="fa-trash" text="" }}
			</li>
		{{/each}}
	</ul>
</div>
