<div class="select-input">
	<label class="label" for="{{ name }}">{{ localize label }}</label>
	<select name="{{ name }}" id="{{ name }}">
		{{#select value}}
			{{#each options}}
				<option value="{{ . }}">{{ . }}</option>
			{{/each}}
		{{/select}}
	</select>
</div>
