<label class="tab-item" data-tab="{{ id }}" for="{{ id }}">{{ localize label }}{{#if count}} ({{ count }}){{/if}}</label>
<section class="tab-panel" data-tab="{{ id }}">
	{{> @partial-block }}
</section>
