<div class="multi-select-input" id="{{ name }}_block">
	<div class="select-input form-input">
		<label class="label" for="{{ name }}">{{ localize label }}</label>
		<select class="value-select" name="{{ name }}" id="{{ name }}">
			<option value=""></option>
			{{#select value}}
				{{#each options}}
					<option value="{{ . }}">{{ . }}</option>
				{{/each}}
			{{/select}}
		</select>
		<strong class="chip" chip id="{{ name }}_value" data-value="0">0D</strong>
	</div>
</div>