<div class="properties">
	{{#if properties}}
		<table>
			<thead>
				<tr>
					<th class="text-left">{{ localize "aegean.equipment.Property" }}</th>
					<th class="text-right">{{ localize "aegean.system.Active" }}</th>
					<th class="text-right">{{ localize "aegean.system.Rating" }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{{#each properties as |prop key|}}
					<tr>
						<td class="text-left">{{ prop.property.name }}</td>
						<td class="text-right">
							{{#if prop.property.system.stats.Active.value}}
								<i class="fa fa-check"></i>
							{{else}}
								<i class="fa fa-xmark"></i>
							{{/if}}
						</td>
						<td class="text-right">
							{{#if prop.property.system.stats.Ranked.value}}
								<input type="number" value="{{ prop.rating }}" class="rating-input" data-id="{{ prop.property.id }}" />
							{{else}}
								n/a
							{{/if}}
						</td>
						<td>{{> systems/aegean/templates/partials/action.hbs action="delete-property" id=prop.property.id icon="fa-trash" }}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<p class="note">{{ localize "aegean.equipment.PropertiesNone" }}</p>
	{{/if}}
</div>
