<div class="background">
	<h2><span>{{ localize "aegean.ui.Background" }}</span></h2>
	<div class="grid grid-cols-2">
		<div>
			<!-- home -->
			{{> systems/aegean/templates/partials/form-input.hbs
				label="aegean.character.Home"
				value=system.background.Home.value
				name="system.background.Home.value"
			}}
			<!-- heritage -->
			{{> systems/aegean/templates/partials/select-input.hbs
				label="aegean.character.Heritage"
				value=system.background.Heritage.value
				name="system.background.Heritage.value"
				options=config.heritages
			}}
			<!-- parent -->
			{{#if actor.flags.aegean.hasDivineHeritage}}
				{{> systems/aegean/templates/partials/select-input.hbs
					label="aegean.character.Parent"
					value=system.background.Parent.value
					name="system.background.Parent.value"
					options=parents
				}}
			{{/if}}
			<!-- upbringing -->
			{{> systems/aegean/templates/partials/select-input.hbs
				label="aegean.character.Background"
				value=system.background.Background.value
				name="system.background.Background.value"
				options=config.backgrounds
			}}

			<div>
				<label class="label">{{ localize "aegean.attributes.Fate" }}</label>
				{{editor system.background.Fate.value target="system.background.Fate.value" button=true owner=owner editable=editable}}
			</div>
		</div>
		<div>
			<div class="boxed">
				<label class="label">{{ localize "aegean.ui.Notes" }}</label>
				{{editor system.background.Notes.value target="system.background.Notes.value" button=true owner=owner editable=editable}}
			</div>

			<!-- div class="boxed relationships">
				<h3>Relationships</h3>
				<ul>
					<li>
						<i class="fas fa-caret-up"></i>
						Xanthippe
						{{> systems/aegean/templates/partials/action.hbs action="edit-relationship" id="xanthippe" icon="fa-pen-to-square"}}
						{{> systems/aegean/templates/partials/action.hbs action="delete-relationship" id="xanthippe" icon="fa-trash" }}
					</li>
					<li>
						<i class="fas fa-caret-down"></i>
						Kallikrates
						{{> systems/aegean/templates/partials/action.hbs action="edit-relationship" id="kallikrates" icon="fa-pen-to-square"}}
						{{> systems/aegean/templates/partials/action.hbs action="delete-relationship" id="kallikrates" icon="fa-trash" }}
					</li>
				</ul>
				<div class="flex flex-end">
					{{> systems/aegean/templates/partials/action.hbs action="add-relationship" id="relationship_add" icon="fa-plus" text="aegean.ui.Add" }}
				</div>
			</div -->
		</div>
	</div>
	{{#if advantages}}
		<div class="advantages">
			<h2><span>{{ localize "aegean.ui.AdvantagesDisadvantages" }}</span></h2>
			{{> systems/aegean/templates/actor/partials/advantages.hbs }}
		</div>
	{{/if}}
</div>
