<div class="character-stats">
	<h2><span>{{ localize "aegean.system.Characteristics" }}</span></h2>
	<div class="grid grid-cols-5">
		{{#each system.characteristics as |ch key|}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label=ch.label
				value=ch.value
				name=(concat "system.characteristics." key ".value")
			}}
		{{/each}}
	</div>
	<div class="grid column-panel">
		<div class="skills">
			<div class="grid grid-cols-2">
				<div>
					<h3 class="text-left">{{ localize "aegean.system.Skills" }}</h3>
					{{#each system.skills as |skill key|}}
						{{> systems/aegean/templates/partials/skill-input.hbs
							label=skill.label
							value=skill.value
							name=(concat "system.skills." key ".value")
						}}
					{{/each}}
				</div>
				{{#if (eq actor.type 'character')}}
					<div>
						<h3 class="text-right">{{ localize "aegean.system.Specialisations" }}</h3>
						{{#each system.skills as |skill key|}}
							<div class="specialisations flex flex-end">
								<input
									type="text"
									name="specialisations"
									placeholder="{{ localize "aegean.ui.CommaSeparated" }}"
									value="{{ lookup ../system.specialisations.value key }}" />
								<ul>
									{{#each (lookup ../system.specialisations.value key) }}
										<li class="chip">{{ . }}</li>
									{{/each}}
								</ul>
								{{> systems/aegean/templates/partials/action.hbs action="add-spec" icon="fa-pen-to-square" id=key}}
							</div>
						{{/each}}
					</div>
				{{/if}}
			</div>
		</div>
		<aside>
			<h3>{{ localize "aegean.system.Attributes" }}</h3>
			<div class="mb-2">
				{{> systems/aegean/templates/partials/box-input.hbs
					label="aegean.attributes.Standing"
					value=system.attributes.Standing.value
					name="system.attributes.Standing.value"
				}}
				<!-- Standing roll -->
				<div class="secondary-action">
					{{> systems/aegean/templates/partials/action.hbs
						action="standing-roll"
						icon="fa-dice-d10"
						id="standing"
						text="aegean.attributes.Standing"
					}}
				</div>
			</div>

			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.attributes.Endurance"
				value=system.attributes.Endurance.value
				name="system.attributes.Endurance.value"
			}}
			{{#if (isPC actor)}}
				{{> systems/aegean/templates/partials/box-input.hbs
					label="aegean.attributes.Glory"
					value=system.attributes.Glory.value
					name="system.attributes.Glory.value"
				}}
				<div class="mb-2">
					{{> systems/aegean/templates/partials/box-input.hbs
						label="aegean.attributes.Hubris"
						value=system.attributes.Hubris.value
						name="system.attributes.Hubris.value"
					}}
					<!-- Hubris roll -->
					<div class="secondary-action">
						{{> systems/aegean/templates/partials/action.hbs
							action="hubris-roll"
							icon="fa-dice-d10"
							id="hubris"
							text="aegean.attributes.Hubris"
						}}
					</div>
				</div>

				{{> systems/aegean/templates/partials/box-input.hbs
					label="aegean.attributes.XP"
					value=system.attributes.XP.value
					name="system.attributes.XP.value"
				}}
				{{> systems/aegean/templates/partials/box-input.hbs
					label="aegean.attributes.Scars"
					value=system.attributes.Scars.value
					name="system.attributes.Scars.value"
				}}
			{{/if}}
		</aside>
	</div>
</div>