<div class="equipment grid column-panel">
	<div>
		<table>
			<thead>
				<tr>
					<th class="text-left">{{ localize "aegean.system.Name" }}</th>
					<th class="text-left">{{ localize "aegean.equipment.Availability" }}</th>
					<th class="text-right">{{ localize "aegean.equipment.Price" }}</th>
					<th class="text-right">{{ localize "aegean.equipment.Weight" }}</th>
					<th class="text-left">{{ localize "aegean.equipment.Properties" }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{{#each equipment as |item key|}}
					<tr>
						<td>{{ item.name }}</td>
						<td>{{ item.system.equipment.Availability.value }}</td>
						<td class="text-right">{{ item.system.equipment.Price.value }}</td>
						<td class="text-right">{{ item.system.equipment.Weight.value }}</td>
						<td>
							{{#if item.shortProperties}}
								{{join item.shortProperties}}
							{{else}}
								&mdash;
							{{/if}}
						</td>
						<td>{{> systems/aegean/templates/partials/action.hbs action="delete-action" id=item.id icon="fa-trash" }}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<aside>
		{{#if (isPC actor)}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.system.Drakhmae"
				value=system.consumables.Drakhmae.value
				name="system.consumables.Drakhmae.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.equipment.Encumbrance"
				value=flags.encumbrance
				readonly=true
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.system.AmmoLoads"
				value=system.consumables.AmmoLoads.value
				name="system.consumables.AmmoLoads.value"
			}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.system.HerbalistDoses"
				value=system.consumables.HerbalistDoses.value
				name="system.consumables.HerbalistDoses.value"
			}}
		{{else}}
			{{> systems/aegean/templates/partials/box-input.hbs
				label="aegean.attributes.Standing"
				value=system.attributes.Standing.value
				name="system.attributes.Standing.value"
			}}
		{{/if}}
	</aside>
</div>
