<div class="equipment grid column-panel">
	<div>
		<table>
			<thead>
				<tr>
					<th class="text-left">{{ localize "aegean.system.Name" }}</th>
					<th class="text-left">{{ localize "aegean.equipment.Availability" }}</th>
					<th class="text-right">{{ localize "aegean.equipment.Price" }}</th>
					<th class="text-right">{{ localize "aegean.equipment.Weight" }}</th>
					<th class="text-right">{{ localize "aegean.equipment.Properties" }}</th>
				</tr>
			</thead>
			<tbody>
				{{#each equipment as |item key|}}
					<tr>
						<td>{{ item.name }}</td>
						<td>{{ item.system.equipment.Availability.value }}</td>
						<td class="text-right">{{ item.system.equipment.Price.value }}</td>
						<td class="text-right">{{ item.system.equipment.Weight.value }}</td>
						<td></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<aside>
		{{> systems/aegean/templates/partials/box-input.hbs
			label=system.attributes.Standing.label
			value=system.attributes.Standing.value
			name="system.attributes.Standing.value"
		}}
		{{> systems/aegean/templates/partials/box-input.hbs
			label=system.equipment.Drakhmae.label
			value=system.equipment.Drakhmae.value
			name="system.equipment.Drakhmae.value"
		}}
		{{> systems/aegean/templates/partials/box-input.hbs
			label="aegean.equipment.Encumbrance"
			value=system.encumbrance
			readonly=true
		}}
		{{> systems/aegean/templates/partials/box-input.hbs
			label=system.equipment.AmmoLoads.label
			value=system.equipment.AmmoLoads.value
			name="system.equipment.AmmoLoads.value"
		}}
		{{> systems/aegean/templates/partials/box-input.hbs
			label=system.equipment.HerbalistDoses.label
			value=system.equipment.HerbalistDoses.value
			name="system.equipment.HerbalistDoses.value"
		}}
	</aside>
</div>
