<div class="retainers accordion-actions">
	{{#if retainers}}
		{{#each retainers as |retainer key|}}
			<div class="accordion">
				<div class="accordion-bar">
					<span class="accordion-activator">
						{{ retainer.name }}
						{{#if retainer.system.stats.Military.value}}<small class="chip safe">{{ localize "aegean.system.MilitaryUnit" }}</small>{{/if}}
						{{#if retainer.system.stats.Marine.value}}<small class="chip safe">{{ localize "aegean.system.MarineUnit" }}</small>{{/if}}
					</span>
					<div class="action-bar">
						<label class="action-bar-label mr-2">{{ localize "aegean.system.Health" }}
							<input
								type="number"
								name="system.stats.CurrentHealth.value"
								value="{{ retainer.system.stats.CurrentHealth.value }}"
								class="rating-input bordered-input retainer-input"
								data-id="{{ retainer.id }}"
							/>
							of
							{{ retainer.system.stats.Health.value }}
						</label>
						{{> systems/aegean/templates/partials/action.hbs action="delete-action" id=retainer.id icon="fa-trash"}}
					</div>
				</div>
				<div class="accordion-content">
					{{{ retainer.system.Description.value }}}
				</div>
			</div>
		{{/each}}
	{{else}}
		<p class="note">{{ localize "aegean.polis.RetainersNone" }}</p>
	{{/if}}
</div>
