<div class="risk">
	<div class="grid grid-cols-2">
		<h3 class="text-left">
			{{#if (isCity actor) }}
				{{ localize "aegean.polis.Morale" }}:
			{{else}}
				{{ localize "aegean.attributes.Endurance" }}:
			{{/if}}
			<span class="black font-lg">{{ flags.endurance }}</span>
			{{#if (isMinion actor)}}
				<span class="black font-lg">({{ system.attributes.Endurance.value }})</span>
			{{else}}
				{{#if (ne flags.endurance system.attributes.Endurance.value)}}
					<small>of</small> <span class="black font-lg">{{ system.attributes.Endurance.value }}</span>
				{{/if}}
			{{/if}}
		</h3>
		<h3 class="text-left">{{ localize "aegean.attributes.Risk"}}: <span class="black font-lg">{{ system.attributes.Risk.value }}</span></h3>
	</div>
	<div class="track">
		{{#range 26}}
			<span
				class="boxed
					{{#if (lt @index ../system.attributes.Risk.value)}}active{{/if}}
					{{#if (eq @index ../system.attributes.Risk.value)}}current{{/if}}
					{{#if (gt @index ../flags.endurance)}}danger{{/if}}
					{{#if (or
						(eq @index ../flags.endurance)
						(and
							(mod @index ../system.attributes.Endurance.value)
							(lt @index ../flags.endurance)
						)
					)}}endurance{{/if}}
				"
				data-value="{{ @index }}">{{ @index }}</span>
		{{/range}}
	</div>
	<div class="flags">
		{{#if flags.defeated }}<span class="chip danger">{{ localize "aegean.system.Defeated" }}</span>{{/if}}
		{{#if flags.vulnerable }}
			{{#if (isCity actor) }}
				<span class="chip danger">{{ localize "aegean.polis.Damage" }}</span>
			{{else}}
				<span class="chip danger">{{ localize "aegean.system.Vulnerable" }}</span>
			{{/if}}
		{{/if}}
		{{#if flags.threshold }}<span class="chip warning">{{ localize "aegean.system.Threshold" }}</span>{{/if}}
		{{#if flags.encumbered }}<span class="chip warning">{{ localize "aegean.system.Encumbered" }}</span>{{/if}}
	</div>
</div>
