<div class="talents">
	{{#each talents as |talent key|}}
		<div class="accordion">
			<div class="accordion-bar">
				<span class="accordion-activator">
					{{ talent.name }}
					{{#if talent.system.stats.Active.value}}<small>({{ localize "aegean.system.Active" }})</small>{{/if}}
				</span>
				<div class="action-bar">
					{{#if talent.system.stats.Ranked.value}}
						<label class="action-bar-label mr-2">{{ localize "aegean.system.Rank" }}
							<input
								type="number"
								name="system.stats.Rating.value"
								value="{{ talent.system.stats.Rating.value }}"
								class="rating-input bordered-input"
								data-id="{{ talent.id }}"
							/>
						</label>
					{{/if}}
					{{> systems/aegean/templates/partials/action.hbs action="delete-action" id=talent.id icon="fa-trash"}}
				</div>
			</div>
			<div class="accordion-content">
				{{{ talent.system.Description.value }}}
			</div>
		</div>
	{{/each}}
</div>
